<div class="container-fluid p-0">
  <div class="over-view p-3 d-flex align-items-center">
  <div class="row g-3 w-100 mx-auto">
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 my-auto">
      <div class="card">
        <div class="icon">
          <i class="bi bi-currency-dollar"></i>
        </div>
        <div class="content">
          Sales
        </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 my-auto">
      <div class="card">
        <div class="icon">
          <i class="bi bi-list-task"></i>
        </div>
        <div class="content">
          Inventory
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 my-auto">
      <div class="card">
        <div class="icon">
          <i class="bi bi-bar-chart-fill"></i>
        </div>
        <div class="content">
        Orders
        </div>
      </div>
    </div>
   <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 my-auto">
    <div class="card">
      <div class="icon">
        <i class="bi bi-people-fill"></i>
      </div>
      <div class="content">
       Customers
      </div>
    </div>
   </div>
  </div>
  </div>
</div>
