/* You can add global styles to this file, and also import other style files */

:root {
  --bg-body: #e7f6fc;
  --bg-card: #8ecae6;
  --primary-color: #219ebc;
  --primary-ligth: #fff;
  --secondary-ligth:  #c8c8c8;
  --secondary-color: #023047;
}

body {
  background-color: var(--bg-body);
  color: var(--primary-ligth);
  font-weight: 600;
}
