<nav>
  <ul class="col-md-6 col-sm-12">
    <li>
      <div class="user-profile-image">
        <img class="col-sm-2 col-md-6" src="../../assets/img/imguser.png" alt="user-profile-icon">
      </div>
    </li>
    <li class>
      <a  routerLink="/dashboard">
        <div class="icon">
          <i class="bi bi-speedometer"></i>
        </div>
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/products">
        <div class="icon">
          <i class="bi bi-box"></i>
        </div>
        Products
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/inventory">
        <div class="icon">
          <i class="bi bi-list-task"></i>
        </div>
        Inventory
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/orders">
        <div class="icon">
          <i class="bi bi-bar-chart-fill"></i>
        </div>
        Orders
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/sales">
        <div class="icon">
          <i class="bi bi-currency-dollar"></i>
        </div>
        Sales
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/customers">
        <div class="icon">
          <i class="bi bi-people-fill"></i>
        </div>
        Customers
      </a>
    </li>
    <li>
      <a class="logout-dashboard" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="icon">
          <i class="bi bi-box-arrow-right"></i>
        </div>
        Logout
      </a>
    </li>
  </ul>
 </nav>
